.container,
.table {
    width: 100%;
}

thead td {
    background-color: #ccc;
    text-align: center;
}
td {
    background-color: #f2f2f2;
    padding: 5px;
}
.function {
    text-align: center;
}
.btn {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 12px;
    background-color: #4caf50;
    border: 1px solid #4caf50;
    outline: none;
    border-radius: 5px;
}
.delete {
    background-color: rgb(205, 91, 91);
    border: 1px solid rgb(205, 91, 91);
}
